<app-page-header [showMenuBtn]="true" title="Categories" [showLine]="true"></app-page-header>

<ion-content>
  <div class="items-card-container" *ngIf="categories; else skeletonText">
    <div class="item-card-wrap" *ngFor="let item of categories; let i = index" (click)="onClickItem(item.id)">
      <div class="item-card">
        <i [class]="item.icon"></i>
      <ion-text color="medium"> {{item.name}}</ion-text>
      </div>
  </div>
  </div>
  <ng-template #skeletonText>
    <div class="custom-skeleton">
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </div>
</ng-template>
</ion-content>
