ion-header{
    ion-toolbar{
        --background: transparent;
    --border-width: 0;
    --padding-top: 6px;
    --padding-bottom: 6px;
    --padding-start: 12px;
    --padding-end: 12px;

        ion-menu-button{
            font-size: 24px;
        }
        ion-title{
            font-weight: 400;
        }
    }
    .logo{
        height: 32px;
    }
    .profile-pic{
        width: 32px;
    border-radius: 100px;
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 2px 6px rgba(134, 134, 134, 0.5));
    box-sizing: content-box;
    }

    .line{
        display: block;
    min-height: 1px;
    border-top: #ddd 0.5px solid;
    margin: 0 16px;
    }
}