<ion-header>
  <ion-toolbar>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button (click)="onShareWhatsapp()" expand="block"  shape="round">
 Share whatsapp
</ion-button>

<ion-button (click)="onShareEmail()" expand="block"  shape="round">
  Share Email
 </ion-button>

 <ion-button (click)="onShareSMS()" expand="block"  shape="round">
  Share SMS
 </ion-button>

 <a href="mailto:no-one@snai1mai1.com?subject=look at this website&body=Hi,I found this website and thought you might like it http://www.geocities.com/wowhtml/">tell a friend</a>
</ion-content>
